@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'DM Sans';
}

body{
    padding-top: 50px;
}

.loader {
    align-items: center;
    border: 15px solid #dddddd;
    border-radius: 50%;
    border-top: 15px solid #003580;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

  /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @layer base {
        h1 {
            @apply text-2xl font-bold;
          }
        h2 {
            @apply text-xl font-semibold;
          }
        h-3{
            @apply text-lg font-medium;
        }
        h-4{
            @apply text-base font-medium;
        }
        h-5{
            @apply text-sm font-medium;
        }
        h-6{
            @apply text-xs font-medium;
        }
        a{
            @apply text-blue-900 ;
        }
    }